<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="email">Email</label>
  <input id="email" type="text" name="email" placeholder="JonSnow@winteriscoming.com">
  <br><br>
  <label for="name">Full Name</label>
  <input id="name" type="text" name="name" placeholder="Jon Snow">
  <br><br>
  <label for="birth_date">Birth Date</label>
  <input id="birth_date" type="date" name="birth_date" min="1920-01-01" max="2018-01-01" required>
  <br><br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
