<div class="row">
  <div class="col-sm">
    <a href="/discover/beers">Cervezas</a>
  </div>
  <div class="col-sm">
    <a href="/discover/breweries">Fábricas</a>
  </div>
  <div class="col-sm">
    <a href="/discover/places">Bares</a>
  </div>
</div>