
<article class="cpt_rel">
   <a href="/discover/beers/{{beer_id.id}}">
      <img src="{{beer_id.image}}" alt="" height="200">
      <h3>{{beer_id.name}}</h3>
    </a>
  <p class="meta-info rel_type">{{rel_type}}</p>
</article>