{{!-- <form action="/auth/login" method="POST" id="form-container" class="material-form form-light">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form> --}}


 <div class="material-form-2">
   <form action="/login" method="post">
    <div class="group">      
      <input id="username" type="text" name="username">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Usuario</label>
    </div>
      
    <div class="group">      
      <input id="password" type="password" name="password">
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Contraseña</label>
    </div>
      <button class="btn btn-block btn-dark mb-4">ENTRAR</button>
      <p class="account-message text-center">
        <a href="#">¿Has olvidado la contraseña?</a>
      </p>
  </form>
 </div>
