<div class="row justify-content-center">
  {{!-- <a href="/profile/beers/rel/{{beer.id}}?type=tested" class="col-sm-3 btn btn-outline-primary rel-button {{#if tested}}active{{/if}}" title="probada"><i class="fas fa-beer"></i><img src="../../public/images/icons/check.svg" alt=""></a> --}}
  <a href="/profile/beers/rel/{{beer.id}}?type=tested" class="rel-button text-white btn-status bg-birra-medium-grey {{#if tested}}active bg-birra-green{{/if}} mx-1" title="probada"><img src="/images/icons/check.svg" alt=""></a>
  <a href="/profile/beers/rel/{{beer.id}}?type=favourite" class="rel-button text-white btn-status bg-birra-medium-grey {{#if favourite}}active bg-birra-red{{/if}} mx-1" title="favorita"><img src="/images/icons/heart.svg" alt=""></a>
  <a href="/profile/beers/rel/{{beer.id}}?type=pendant" class="rel-button text-white btn-status bg-birra-medium-grey {{#if pendant}}active bg-birra-blue{{/if}} mx-1" title="pendiente"><img src="/images/icons/clock.svg" alt=""></i></a>
</div> 
</div> 