<h1 class="page-title">Añade una cerveza</h1>
<form action="/profile/beer/add" method="POST" id="form-container" class="fullscreen-form">
  <input id="beerName" name="name" type="text" placeholder="Estrella Galicia" required autofocus />
  <label for="beerName">
    <span class="label-text">Nombre</span>
    <span class="nav-dot"></span>
  </label>
  <input id="beerBrewey" name="brewery" type="text" placeholder="Estrella Galicia" required />
  <label for="beerBrewey">
    <span class="label-text">Fabricante</span>
    <span class="nav-dot"></span>
  </label>
  <input id="beerKcal" name="kcal" type="text" placeholder="47Kcal" required />
  <label for="beerKcal">
    <span class="label-text">Valor energético</span>
    <span class="nav-dot"></span>
  </label>
  <input id="beerVol" name="vol" type="text" placeholder="5.5%" required />
  <label for="beerVol">
    <span class="label-text">Volumen de alcohol</span>
    <span class="nav-dot"></span>
  </label>
  <input id="beerColor" name="color" type="text" placeholder="Tostada" required />
  <label for="beerColor">
    <span class="label-text">Color</span>
    <span class="nav-dot"></span>
  </label>
  <button type="submit">¡CREAR CERVEZA!</button>
  <p class="tip">Presiona Enter</p>
  <div class="signup-button">¡CREAR CERVEZA!</div>
</form>


