{{!-- <h1 class="page-title">Hola, {{user.name}}</h1> --}}
<h2 class="page-title">Estás son tus cervezas</h2>
<div class="row">
{{#if rels}}
  {{#each rels}}
    <div class="col-sm-2 p-0">
      {{> cpt_rel}}
    </div>
  {{/each}}
{{else}}
  <div class="col-sm">
    <p>Todavía no tienes cervezas, ¿por qué no pruebas a añadir alguna?</p>
    <a href="/discover/beers" class="btn btn-primary">¡Descubrir cervezas!</a>
  </div>
{{/if}}
</div>