<h1>Hello, {{user.name}}</h1>
<h2>Estás son tus cervezas</h2>

<div class="row">
  <div class="col-sm">
    <div class="row beer-row">
      {{#each rels}}
      <div class="col-sm-1">
        {{> cpt_rel}}
      </div>
      {{/each}}
    </div>
  </div>
</div>