<h1 class="page-title">Hello, {{user.name}}</h1>
<h2 class="page-subtitle">Estás son tus cervezas</h2>
<div class="row">
{{#if rels}}
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm">
        <div class="row beer-row">
          {{#each testeds}}
          <div class="col-sm-2">
            {{> cpt_rel}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm">
        <div class="row beer-row">
          {{#each favs}}
          <div class="col-sm-2">
            {{> cpt_rel}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="row beer-row">
          {{#each pendants}}
          <div class="col-sm-2">
            {{> cpt_rel}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class="col-sm">
    <p>Todavía no tienes cervezas, ¿por qué no pruebas a añadir alguna?</p>
    <a href="/discover/beers" class="btn btn-primary">¡Descubrir cervezas!</a>
  </div>
{{/if}}
</div>