.beer-row {
  border-bottom: 3px solid $birra-dark-grey;
}

.cpt_rel {
  img {
    width: 100%;
  }
  .rel_type {
    text-transform: capitalize;
  }
}

  article h1, .beer-title {
    font-size: 18px;
    font-weight: bold;
  }

  .meta-text-a {
    font-style: italic;
    color: $birra-primary;
  }

  .meta-text-b {
    color: $birra-light-grey;
  }

  .meta-text-c {
    font-size: 0.8em;
  }

  .beer-card {
    &.portrait {

    }
    &.landscape {
      
    }
    .card-header {
      border-bottom: 3px solid #000;
    }
    .card-footer {
      background: none;
    }
  }

.title-2 {
  font-size: 50px;
}
.title-3 {
  font-size: 33px;
  font-weight: 500;
}

.btn-status {
  border-radius: 200%;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  &:hover {
    background-color: $birra-dark-grey;
  }
  img {
    width: 50%;
  }
}


