.rel-button.active {
 background: blue;
 color: white;
}

.beer-row {
  border-bottom: 3px solid $birra-dark-grey;
}

.cpt_rel {
  img {
    width: 100%;
  }
  .rel_type {
    text-transform: capitalize;
  }
}

  article h1, .beer-title {
    font-size: 18px;
    font-weight: bold;
  }

  .meta-text-a {
    font-style: italic;
    color: $birra-primary;
  }

  .meta-text-b {
    color: $birra-light-grey;
  }

  .meta-text-c {
    font-size: 0.8em;
  }

  .beer-card {
    &.portrait {

    }
    &.landscape {
      
    }
  }

