@charset "UTF-8";
.error-message {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  height: 48px;
  align-items: center;
  padding: 0 24px;
  background-color: brown;
  color: floralwhite; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column; }

.container-centered {
  display: flex;
  align-items: center;
  flex: 1; }

.fullscreen-form input,
.fullscreen-form button {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -300%);
  display: block;
  width: 70vw;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3); }

.fullscreen-form input {
  padding: .25rem 0;
  border: 0;
  border-bottom: 1px solid #bb1515;
  outline: 0;
  background: transparent;
  color: #111;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: .125rem;
  transition: all 0.5s cubic-bezier(0.4, 0.25, 0.8, 0.3); }

.fullscreen-form input::selection {
  background: rgba(187, 21, 21, 0.25); }

.fullscreen-form button,
.fullscreen-form .signup-button {
  padding: .25em 0;
  border: 0;
  outline: 0;
  background: #bb1515;
  color: rgba(255, 255, 255, 0.85);
  font-size: 2rem;
  line-height: 3.6rem;
  letter-spacing: .0625rem;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.25);
  text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.2); }

.fullscreen-form input:focus,
.fullscreen-form button:focus {
  opacity: 1;
  transform: translate(-50%, -100%);
  pointer-events: auto;
  transition: all 0.4s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.5s;
  z-index: 10; }

.fullscreen-form input:focus ~ input,
.fullscreen-form input:focus ~ button {
  transform: translate(-50%, 500%);
  transition: all .5s ease-in; }

.fullscreen-form input:focus ~ label .label-text {
  transform: translate(-50%, 300%);
  transition: all .5s ease-in; }

.fullscreen-form input:focus ~ .tip {
  opacity: 1; }

.fullscreen-form input:focus ~ .signup-button,
.fullscreen-form button:focus ~ .signup-button {
  opacity: 0; }

.fullscreen-form input:focus + label .label-text {
  opacity: 1;
  transform: translate(-50%, -100%);
  transition: all 0.3s cubic-bezier(0.1, 0.45, 0.1, 0.85) 0.4s; }

.fullscreen-form input:focus + label .nav-dot:before {
  background: #a41212;
  box-shadow: 0 0 0 0.15rem #111, 0 0 0.05rem 0.26rem #bb1515; }

.fullscreen-form .tip {
  position: fixed;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 0;
  color: #111;
  font-size: .875rem;
  font-weight: 300;
  letter-spacing: .125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity .25s .5s; }

.fullscreen-form .signup-button,
.fullscreen-form .signup-button-trigger {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 70vw;
  padding: .25rem 0;
  line-height: 3.6rem;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
  transition: opacity .4s .3s; }

.fullscreen-form .signup-button-trigger {
  opacity: 0;
  pointer-events: auto; }

.fullscreen-form .label-text {
  position: fixed;
  top: calc(50% - 4rem);
  left: 50%;
  transform: translate(-50%, -300%);
  width: 70vw;
  padding: 3.125rem 0 1.5rem;
  text-transform: uppercase;
  color: #111;
  opacity: 0;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .125rem;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.4, 0.25, 0.8, 0.3) 0.05s; }

.fullscreen-form .nav-dot {
  cursor: pointer;
  position: fixed;
  padding: .625rem 1.25rem .625rem .625rem;
  top: 52%;
  right: 1.25rem; }
  .fullscreen-form .nav-dot:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: .375rem;
    height: .375rem;
    margin-right: .625rem;
    position: fixed;
    border: 0;
    transition: all 0.25s; }
  .fullscreen-form .nav-dot:hover:before {
    width: .625rem;
    height: .625rem;
    margin-top: -.125rem;
    margin-left: -.125rem;
    background-color: #a41212; }

.fullscreen-form label[for="input-1"] .nav-dot {
  margin-top: -125px; }

.fullscreen-form label[for="input-2"] .nav-dot {
  margin-top: -100px; }

.fullscreen-form label[for="input-3"] .nav-dot {
  margin-top: -75px; }

.fullscreen-form label[for="input-4"] .nav-dot {
  margin-top: -50px; }

.fullscreen-form label[for="input-5"] .nav-dot {
  margin-top: -25px; }

.fullscreen-form {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.material-form .form-light input {
  border-color: white;
  color: white; }

.material-form .form-dark input {
  border-color: #4A4A4A;
  color: #4A4A4A; }

.material-form label {
  position: absolute;
  padding: 8px 0; }

.material-form input {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  padding: 8px 0; }

.material-form-2 {
  /* form starting stylings ------------------------------- */
  /* LABEL ======================================= */
  /* active state */
  /* BOTTOM BARS ================================= */
  /* active state */
  /* HIGHLIGHTER ================================== */
  /* active state */
  /* ANIMATIONS ================ */ }
  .material-form-2 .group {
    position: relative;
    margin-bottom: 1em; }
  .material-form-2 input {
    padding: 8px 8px 8px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #757575;
    background: none; }
  .material-form-2 input:focus {
    outline: none; }
  .material-form-2 label {
    color: #4A4A4A;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .material-form-2 input:focus ~ label, .material-form-2 input:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #9E6A16; }
  .material-form-2 .bar {
    position: relative;
    display: block;
    width: 100%;
    top: 1px; }
  .material-form-2 .bar:before, .material-form-2 .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4A4A4A;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .material-form-2 .bar:before {
    left: 50%; }
  .material-form-2 .bar:after {
    right: 50%; }
  .material-form-2 input:focus ~ .bar:before, .material-form-2 input:focus ~ .bar:after {
    width: 50%; }
  .material-form-2 .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5; }
  .material-form-2 input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease; }

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

.login-form-container input,
.signup-form-container input {
  width: 100%; }

.quote-container {
  max-width: 500px; }
  .quote-container div > * {
    display: block; }

.forms-container {
  width: 300px; }
  .forms-container .card, .forms-container .card-header {
    border-radius: 0;
    border: none; }
  .forms-container .card-header {
    background: none; }
  .forms-container .btn {
    outline: 0;
    box-shadow: none !important; }

@media (max-width: 767px) {
  .accordion.forms-container {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0; } }

.beer-row {
  border-bottom: 3px solid #4A4A4A; }

.cpt_rel img {
  width: 100%; }

.cpt_rel .rel_type  {
  text-transform: capitalize; }

article h1, .beer-title {
  font-size: 18px;
  font-weight: bold; }

.meta-text-a {
  font-style: italic;
  color: #F5A623; }

.meta-text-b {
  color: #8A8A8A; }

.meta-text-c {
  font-size: 0.8em; }

.beer-card .card-header {
  border-bottom: 3px solid #000; }

.beer-card .card-footer {
  background: none; }

.title-2 {
  font-size: 50px; }

.title-3 {
  font-size: 33px;
  font-weight: 500; }

.btn-status {
  border-radius: 200%;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; }
  .btn-status:hover {
    background-color: #4A4A4A; }
  .btn-status img {
    width: 50%; }

body {
  color: #4A4A4A;
  font: 14px 'Avenir Next W01', Helvetica, Arial, sans-serif; }

body {
  /* background-image: url(../images/bg-orange.png);
  background-repeat: repeat-y; */ }

a {
  color: #303030; }
  a:hover {
    color: #000; }

.Tostada {
  color: #9E6A16; }

.Rubia {
  color: #F5A623; }

.Negra {
  color: #4A4A4A; }

.Roja {
  color: #EE5656; }

.bg-birra-primary {
  background-color: #F5A623; }

.bg-birra-white {
  background-color: #F7F7EB; }

.bg-birra-medium-grey {
  background-color: #DCDCDC; }

.bg-birra-green {
  background-color: #3BE393; }

.bg-birra-red {
  background-color: #EE5656; }

.bg-birra-blue {
  background-color: #4A90E2; }

.page-title, .quote-container .quote-title {
  font-size: 3.928em;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 1em; }

.page-breadcrumb {
  margin-bottom: 1em; }

.quote-container .quote-subtitle {
  display: block;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-weight: 500; }

.quote-container .quote-content {
  font-size: 1.357em; }

.quote-container .quote-description, .quote-container .quote-sinonyms, .quote-container .quote-expression {
  font-size: 1em;
  line-height: 1.45em;
  margin-bottom: 0.7em; }

.quote-container .quote-expression {
  color: #8A8A8A; }

.profile-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center; }

.menu-user-avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle; }
  .menu-user-avatar img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.nav-links li {
  font-weight: 500; }

/*# sourceMappingURL=style.css.map */