@import 'default-style';
@import 'variables';
@import 'layout';
@import 'forms';
@import 'homepage';
@import 'cpts';


body {
  color: $birra-dark-grey;
  font: 14px 'Avenir Next W01', Helvetica, Arial, sans-serif;
}

body {
  /* background-image: url(../images/bg-orange.png);
  background-repeat: repeat-y; */
}

a {
  color: $birra-black;
  &:hover {
    color: #000;
  }
}

.Tostada {color: $birra-dark-brown;}
.Rubia {color: $birra-orange;}
.Negra {color: $birra-dark-grey;}
.Roja {color: $birra-red;}


.bg-birra-primary {
  background-color: $birra-primary;
}
.bg-birra-white {
  background-color: $birra-ecru-white;
}

.page-title {
  font-size: 3.928em;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 1em;
}

.page-breadcrumb {
  margin-bottom: 1em;
}

.quote-container {
  .quote-title {
    @extend .page-title;
  }
  .quote-subtitle {
    display: block;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 500;
  }
  .quote-content {
    font-size: 1.357em;
  }
  .quote-description, .quote-sinonyms, .quote-expression {
    font-size: 1em;
    line-height: 1.45em;
    margin-bottom: 0.7em;
  }
  .quote-expression {
    color: $birra-light-grey;
  }
}

.profile-image {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
}


// ---------- MENU --------------- 
.menu-user-avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}