@import 'default-style';
@import 'variables';
@import 'layout';
@import 'forms';
@import 'homepage';
@import 'cpts';


body {
  color: $birra-dark-grey;
  font: 14px 'Avenir Next W01', Helvetica, Arial, sans-serif;
}

a {
  color: $birra-black;
  &:hover {
    color: #000;
  }
}


.bg-birra-primary {
  background-color: $birra-primary;
}
.bg-birra-white {
  background-color: $birra-ecru-white;
}

.page-title {
  font-size: 3.928em;
  font-weight: 700;
  line-height: 1em;
}

.quote-container {
  .quote-title {
    @extend .page-title;
  }
  .quote-subtitle {
    display: block;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 500;
  }
  .quote-content {
    font-size: 1.357em;
  }
  .quote-description, .quote-sinonyms, .quote-expression {
    font-size: 1em;
    line-height: 1.45em;
    margin-bottom: 0.7em;
  }
  .quote-expression {
    color: $birra-light-grey;
  }
}