<div class="row container-centered text-center">
  <div class="col-sm">
    <a href="/discover/beers" class="title-3">Cervezas</a>
  </div>
  <div class="col-sm">
    <a href="/discover/breweries" class="title-3">Fábricas</a>
  </div>
  <div class="col-sm">
    <p class="title-3 m-0 text-muted">Bares</p>
    <p class="position-absolute" style="left: 50%; transform: translateX(-50%);"><small>Próximamente</small></p>
  </div>
</div>