<div class="row container-centered text-center">
  <div class="col-sm">
    <a href="/discover/beers" class="title-3">Cervezas</a>
  </div>
  <div class="col-sm">
    <a href="/discover/breweries" class="title-3">Fábricas</a>
  </div>
  <div class="col-sm">
    <a href="/discover/places" class="title-3">Bares</a>
  </div>
</div>